@import '../../assets/styles/variables.scss';

.loginWrap {
    width: 300px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;

    background-color: #ffffff;
    border: 1px solid $active-link-color;
    border-radius: $border-radius;

    &__title {
        margin-bottom: 30px;

        font-size: 18px;
        font-weight: 500;

        text-align: center;
    }

    &__login {
        display: block;
        width: 100px;
        margin: 0 auto;
        padding: 5px 10px;

        color: #ffffff;
        font-weight: 500;

        background-color: rgb(76, 109, 151);
        border: none;
        border-radius: $border-radius;

        cursor: pointer;
        transition: transform $transition-duration $timing-function,
            color $transition-duration $timing-function,
            background-color $transition-duration $timing-function;

        &:hover {
            color: $active-link-color;

            background-color: #cdd3e0;

            transform: scale($scale-value);
        }
    }
}
