@import '../../assets/styles/variables.scss';

.header {
    width: 100%;

    margin-bottom: 60px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #ffffff;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
}
