@import './variables.scss';

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    color: $primary-text-color;

    background-color: $primary-bcg-color;
}

h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.btn {
    display: inline-block;
    padding: 5px 10px;

    color: #ffffff;
    font-weight: 500;

    background-color: rgb(76, 109, 151);
    border: none;
    border-radius: $border-radius;

    cursor: pointer;
    transition: transform $transition-duration $timing-function,
        color $transition-duration $timing-function,
        background-color $transition-duration $timing-function;

    &:hover {
        color: $active-link-color;

        background-color: #cdd3e0;

        transform: scale($scale-value);
    }
}
