@import './variables.scss';

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    color: $primary-text-color;

    background-color: $primary-bcg-color;
}

h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
